<h4>Dodaj nowego studenta</h4>

<form (submit)="save(name.value,email.value)">
    <!-- Pole imie i nazwisko -->
    <div class="col-6">
        <label class="form-label">Imię i nazwisko studenta
        </label>
        <input class="form-control" #name />
    </div>


    <!-- Pole email -->
    <div class="col-6">
        <label class="form-label">Email</label>
        <input class="form-control" #email />
    </div>

    <!-- Przycisk do zapisu -->
    <div style="margin-top:15px">
        <button [disabled]="isFormSubmitting" 
        class="btn btn-outline-success">
        <span *ngIf="isFormSubmitting" 
        class="spinner-grow spinner-grow-sm" 
        aria-hidden="true">
        </span> 
        Zapisz</button>
    </div>

    <div *ngIf="!isFormValid">
    <p  *ngFor="let error of errorText" 
    style="color:red;font-size:16px;margin-top:10px">
        {{error}}</p>
    </div>
</form>

<div *ngIf="isAddedSuccessful" 
    class="alert alert-success" style="margin-top:20px" 
    role="alert">
    Dodano studenta!
</div>

<div *ngIf="isAddedError" 
    class="alert alert-danger" style="margin-top:20px" 
    role="alert">
    Wystąpił bład w komunikacji z serwerem!
</div>