<h4>Dodaj nowego studenta</h4>

<form>
    <!-- Pole imie i nazwisko -->
    <div class="col-6">
        <label class="form-label">Imię i nazwisko studenta
        </label>
        <input class="form-control" />
    </div>


    <!-- Pole email -->
    <div class="col-6">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" />
    </div>

    <!-- Przycisk do zapisu -->
    <div style="margin-top:15px">
        <button class="btn btn-outline-success">Zapisz</button>
    </div>
</form>